<h1>Edit Board</h1>

<%= render "form", board: @board %>

  <%= link_to "View Board", board_path(@board) %>
    <%= link_to "Back", boards_path %>
    
<h1>Find me in app/views/boards/edit.html.erb</h1>
